@media (prefers-reduced-motion: no-preference) {
  .rotate {
    animation: rotate 1s linear infinite both;
  }
}
@media (prefers-reduced-motion: reduce) {
  .rotate {
    animation: none;
  }
}

/* Definition of the animation  */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
